.button {
  font-weight: 600;
  height: 60px;
  width: 279px;
  background-color: $main-color;
  color: $white-color;

  font-family: $small-font;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}